<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">

            <ul class="nav navbar-nav">
                <li>
                    <a href="/api/trips">All trips</a>
                </li>
                
                <li>
                    <a href="/api/trips/new" class="btn-new-trip">New</a>
                </li>
        </div>
    </div>
</nav>

<%- messages('partials/_messages', locals) %>
